body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
  background-image: url("https://cdn.wallpapersafari.com/23/96/0JCwuP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #F7F5FB;
  font-size: 20px;
}

.title-link {
  color: #F7F5FB;
  font-size: 10vh;
}

.title-link:hover {
  color: aquamarine;
}

.navlink {
  margin: 2vw;
  color: #F7F5FB;
  
}

.heros h1{
  text-decoration: none;
  color: #F7F5FB;
}

.see-more-btn{
  padding: 2vh;
  background-color: antiquewhite;
  text-decoration: none;
  margin: 50px;
  color: black;
}

.hero-image {
  width: 25%;
  margin: 10px;
}

.hero-image:hover {
  transform: scale(0.9);
}

.heros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  padding: 10px;
}

.see-more-btn:hover {
  background-color:#012839;
  color: #F7F5FB;
  border: 2px solid #F7F5FB; 
}

header {
  background-color: #012839;
  padding: 6vh;
}

nav {
  font-size: 4vh;
}

.hero-card img {
  max-width: 20vw;
  max-height: 50vh;
  padding-top: 2vh
}

.hero-card {
  font-size: 3vh;
  background-color: #012839;
  margin: 10vh 25vw;
  border: 2px solid #F7F5FB;
  border-radius: 4vh;
  padding: 30px;
  color: #F7F5FB;
  min-width: 600px;
}

.hero-card h1 {
  font-size: 10vh;
}

.hero-card h2 {
  font-size: 6vh;
}

.hero-card li {
  font-size: 3vh;
  padding: 1vh;
  list-style-type: none;
  margin: 1.5vh;
}

form {
  text-align: center;
  padding: 1rem;
}

form>input {
  font-size: 2rem;
  margin-right: 1rem;
}

form>label {
  font-size: 2rem;
  padding-right: 2vw;
}
